
body {
  font-family: "Open Sans";
  font-size: 1.2em;
  line-height: 1.6;
  font-weight: 400;
}

#contentContainer {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

#header {
  margin-top: 5em;
}

#allNotes {
  background-color: lightblue;
}

#notesList {
  list-style-type: none;
}

#showOneNote {
  background-color: lightblue;
  font-family: "Indie Flower"
}

#createNote {
  background-color: lightblue;
}

#divLabel {
  width: 100%;
  float: left;
}

#noteContents {
  height: 5em;
  width: 70%;
}
