<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" type="text/css"
         href="https://fonts.googleapis.com/css?family=Indie+Flower">
   <link rel="stylesheet" type="text/css"
         href="https://fonts.googleapis.com/css?family=Open+Sans">

    <title>Notes App</title>
  </head>

  <body>
    <section id="contentContainer">

      <header id="header">
        <h1>Our Single-Page-Pure-JS Amazing Notes App</h1>
        <hr>
      </header>

      <section id="allNotes">
        <h1>All notes</h1>
        <ul id="notesList">
          <li>hello</li>
          <li>hello</li>
          <li>hello</li>
        </ul>
      </section>

      <section id="showOneNote">
        <h1>show note</h1>
      </section>

      <section id="createNote">

        <section id="writeYourNote">
          <p>Write your note below</p>
        </section>

        <form class="" action="index.html" method="post">
          <section id="sectionLabel">
          <p>Title</p>
          </section>
          <section id="sectionInput">
          <input id="noteName" type="text" name="noteTitle" placeholder="Title of your note">
          </section>

          <section id="sectionLabel">
            <p>Content</p>
          </section>
          <section id="sectionInput">
            <input id= "noteContents" type="text" name="noteContents" placeholder="Write your note here">
          </section>
            <button id="createNoteButton" type="submit" name="createNote">Create</button>
        </form>
      </section>

    </section>
  </body>
</html>
